body{
  color: #828282;
}

.container{
  margin: 100px auto;
  width: 60%;
}

.header{
  text-align: center;
}

.subtitle{
  font-weight: normal;
}

.section-text{
  color: #1A984D;
}

.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
}

.form-label{
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

span.form-label{
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form-input{
  background: #F6F6F6;
  border: none;
  border-radius: 5px;
  height: 45px;
  margin-top: 10px;
}

textarea.form-input{
  height: 135px;
  resize: none;
}

input[type="checkbox"]{
  margin-right: 10px;
}

input[type="file"]{
  display: none;
}

.button-group{
  display: flex;
  justify-content: center;
}

.btn{
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  height: 45px;
  margin: 0 25px;
  width: 185px;
}

.btn:disabled {
  color: #1A984D;
  cursor: not-allowed;
  background: #BDBDBD;
}

.background-red{
  background-color: #F84A4A;
}

.background-green{
  background-color: #1A984D;
}

.file-upload{
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.file-upload label{
  align-items: center;
  display: flex;
  width: 100%;
}

.file-upload .form-input{
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #BDBDBD;
  display: flex;
  margin: 0;
  width: 100%;
}

.file-upload .btn{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 0;
}

.file-upload span{
  margin-left: 28px;
}

.message{
  color: red;
  margin-bottom: 30px;
  text-align: center;
}